Repository radupana/featherweight: changes, and which Codecov flags are due for each by the changed paths.
All: viewmodel, service, repository, database, cloud-functions

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 5%
    patch:
      default:
        target: 80%
        threshold: 10%

  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

ignore:
  - "app/src/main/java/com/github/radupana/featherweight/ui/screens/**"
  - "app/src/main/java/com/github/radupana/featherweight/ui/components/**"
  - "app/src/main/java/com/github/radupana/featherweight/ui/dialogs/**"
  - "app/src/main/java/com/github/radupana/featherweight/ui/theme/**"
  - "app/src/main/java/com/github/radupana/featherweight/di/**"
  - "**/*Activity.kt"
  - "**/FeatherweightApplication.kt"
  - "**/build/**"
  - "**/generated/**"

flags:
  viewmodel:
    paths:
      - app/src/main/java/com/github/radupana/featherweight/viewmodel/
  service:
    paths:
      - app/src/main/java/com/github/radupana/featherweight/service/
  repository:
    paths:
      - app/src/main/java/com/github/radupana/featherweight/repository/
  database:
    paths:
      - app/src/main/java/com/github/radupana/featherweight/data/
  cloud-functions:
    paths:
      - functions/src/

Fix review comments
  CLAUDE.md
  GEMINI.md
  app/src/main/java/com/github/radupana/featherweight/viewmodel/ProgrammeViewModel.kt
  app/src/test/java/com/github/radupana/featherweight/repository/FeatherweightRepositoryTest.kt
  app/src/test/java/com/github/radupana/featherweight/viewmodel/ProgrammeViewModelTest.kt
Due: viewmodel

Fix review comments
  .github/workflows/build.yml
Due: none

Fix cache restriction
  .github/workflows/build.yml
Due: none

refactor: extract SyncManager helpers and fix test fixtures
  app/src/main/java/com/github/radupana/featherweight/repository/FeatherweightRepository.kt
  app/src/main/java/com/github/radupana/featherweight/service/GlobalProgressTracker.kt
  app/src/main/java/com/github/radupana/featherweight/service/ProgrammeTextParser.kt
  app/src/main/java/com/github/radupana/featherweight/sync/SyncDownloader.kt
  app/src/main/java/com/github/radupana/featherweight/sync/SyncManager.kt
  app/src/main/java/com/github/radupana/featherweight/sync/SyncUploader.kt
  app/src/main/java/com/github/radupana/featherweight/viewmodel/InsightsViewModel.kt
  app/src/main/java/com/github/radupana/featherweight/viewmodel/WorkoutViewModel.kt
  app/src/test/java/com/github/radupana/featherweight/data/ParseRequestDaoTest.kt
  app/src/test/java/com/github/radupana/featherweight/data/TrainingAnalysisDaoTest.kt
  app/src/test/java/com/github/radupana/featherweight/fixtures/WorkoutFixtures.kt
  app/src/test/java/com/github/radupana/featherweight/service/GlobalProgressTrackerTest.kt
Due: viewmodel, service, repository

fix: address Google Play Store launch blockers (#206)
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/github/radupana/featherweight/repository/FeatherweightRepository.kt
  app/src/main/java/com/github/radupana/featherweight/service/BatchCompletionService.kt
  app/src/main/java/com/github/radupana/featherweight/service/DeviationCalculationService.kt
  app/src/main/java/com/github/radupana/featherweight/sync/repository/FirestoreRepository.kt
  app/src/main/java/com/github/radupana/featherweight/ui/components/CreateExerciseDialogComponents.kt
  app/src/main/java/com/github/radupana/featherweight/ui/components/VoiceInputComponents.kt
  app/src/main/java/com/github/radupana/featherweight/ui/screens/HistoryScreen.kt
  app/src/main/java/com/github/radupana/featherweight/ui/screens/ProgrammeHistoryDetailScreen.kt
  app/src/main/java/com/github/radupana/featherweight/ui/screens/WorkoutHubScreen.kt
  app/src/main/java/com/github/radupana/featherweight/ui/screens/WorkoutScreen.kt
  app/src/main/java/com/github/radupana/featherweight/viewmodel/ExerciseProgressViewModel.kt
  app/src/main/java/com/github/radupana/featherweight/viewmodel/WorkoutViewModel.kt
  functions/src/analyzeTraining.test.ts
  functions/src/analyzeTraining.ts
  functions/src/analyzeTrainingLogic.test.ts
  functions/src/analyzeTrainingLogic.ts
  functions/src/index.ts
  functions/src/logEvent.test.ts
  functions/src/parseProgram.test.ts
  functions/src/parseProgram.ts
  functions/src/parseProgramLogic.test.ts
  functions/src/parseVoiceWorkout.ts
  functions/src/transcribeAudio.ts
  functions/src/transcribeAudioLogic.test.ts
  public/privacy.html
Due: viewmodel, service, repository, cloud-functions

Bumped version
  gradle.properties
Due: none

fix: address Google Play Store launch blockers (#206) (#216)
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/github/radupana/featherweight/repository/FeatherweightRepository.kt
  app/src/main/java/com/github/radupana/featherweight/service/BatchCompletionService.kt
  app/src/main/java/com/github/radupana/featherweight/service/DeviationCalculationService.kt
  app/src/main/java/com/github/radupana/featherweight/sync/repository/FirestoreRepository.kt
  app/src/main/java/com/github/radupana/featherweight/ui/components/CreateExerciseDialogComponents.kt
  app/src/main/java/com/github/radupana/featherweight/ui/components/VoiceInputComponents.kt
  app/src/main/java/com/github/radupana/featherweight/ui/screens/HistoryScreen.kt
  app/src/main/java/com/github/radupana/featherweight/ui/screens/ProgrammeHistoryDetailScreen.kt
  app/src/main/java/com/github/radupana/featherweight/ui/screens/WorkoutHubScreen.kt
  app/src/main/java/com/github/radupana/featherweight/ui/screens/WorkoutScreen.kt
  app/src/main/java/com/github/radupana/featherweight/viewmodel/ExerciseProgressViewModel.kt
  app/src/main/java/com/github/radupana/featherweight/viewmodel/WorkoutViewModel.kt
  functions/src/analyzeTraining.test.ts
  functions/src/analyzeTraining.ts
  functions/src/analyzeTrainingLogic.test.ts
  functions/src/analyzeTrainingLogic.ts
  functions/src/index.ts
  functions/src/logEvent.test.ts
  functions/src/parseProgram.test.ts
  functions/src/parseProgram.ts
  functions/src/parseProgramLogic.test.ts
  functions/src/parseVoiceWorkout.ts
  functions/src/transcribeAudio.ts
  functions/src/transcribeAudioLogic.test.ts
  gradle.properties
  public/privacy.html
Due: viewmodel, service, repository, cloud-functions

feat: add GitHub Pages website for featherweight.app (#217)
  .github/workflows/deploy-website.yml
  app/src/main/java/com/github/radupana/featherweight/repository/FeatherweightRepository.kt
  app/src/main/java/com/github/radupana/featherweight/service/DeviationCalculationService.kt
  app/src/main/java/com/github/radupana/featherweight/ui/screens/profile/SettingsTab.kt
  public/privacy.html
  public/terms.html
  website/.gitignore
  website/.npmrc
  website/.vscode/extensions.json
  website/.vscode/launch.json
  website/README.md
  website/astro.config.mjs
  website/package.json
  website/pnpm-lock.yaml
  website/pnpm-workspace.yaml
  website/public/CNAME
  website/public/favicon.svg
  website/public/images/og-image.svg
  website/public/robots.txt
  website/src/components/Download.astro
  website/src/components/FAQ.astro
  website/src/components/Features.astro
  website/src/components/Footer.astro
  website/src/components/Header.astro
  website/src/components/Hero.astro
  website/src/components/HowItWorks.astro
  website/src/config/site.ts
  website/src/layouts/Layout.astro
  website/src/pages/index.astro
  website/src/pages/privacy-policy.astro
  website/src/pages/terms.astro
  website/src/styles/global.css
  website/tsconfig.json
Due: service, repository

fix: address review feedback on website and code quality
  app/src/main/java/com/github/radupana/featherweight/repository/FeatherweightRepository.kt
  app/src/main/java/com/github/radupana/featherweight/service/DeviationCalculationService.kt
  website/src/pages/privacy-policy.astro
  website/src/pages/terms.astro
Due: service, repository

Update last updated date in privacy policy
  website/src/pages/privacy-policy.astro
Due: none

Fix date
  website/src/pages/terms.astro
Due: none

feat: add GitHub Pages website for featherweight.app (#219)
  .github/workflows/deploy-website.yml
  app/src/main/java/com/github/radupana/featherweight/repository/FeatherweightRepository.kt
  app/src/main/java/com/github/radupana/featherweight/service/DeviationCalculationService.kt
  app/src/main/java/com/github/radupana/featherweight/ui/screens/profile/SettingsTab.kt
  public/privacy.html
  public/terms.html
  website/.gitignore
  website/.npmrc
  website/.vscode/extensions.json
  website/.vscode/launch.json
  website/README.md
  website/astro.config.mjs
  website/package.json
  website/pnpm-lock.yaml
  website/pnpm-workspace.yaml
  website/public/CNAME
  website/public/favicon.svg
  website/public/images/og-image.svg
  website/public/robots.txt
  website/src/components/Download.astro
  website/src/components/FAQ.astro
  website/src/components/Features.astro
  website/src/components/Footer.astro
  website/src/components/Header.astro
  website/src/components/Hero.astro
  website/src/components/HowItWorks.astro
  website/src/config/site.ts
  website/src/layouts/Layout.astro
  website/src/pages/index.astro
  website/src/pages/privacy-policy.astro
  website/src/pages/terms.astro
  website/src/styles/global.css
  website/tsconfig.json
Due: service, repository

fix: remove malformed pnpm-workspace.yaml breaking CI
  website/pnpm-workspace.yaml
Due: none

chore: update GitHub Actions to latest versions
  .github/workflows/deploy-website.yml
Due: none

feat: add 75 new meaningful tests, remove 15 tautological tests
  app/src/test/java/com/github/radupana/featherweight/service/FirebaseAuthServiceTest.kt
  app/src/test/java/com/github/radupana/featherweight/service/OneRMDataFixServiceTest.kt
  app/src/test/java/com/github/radupana/featherweight/service/ValidationResultTest.kt
  app/src/test/java/com/github/radupana/featherweight/ui/screens/WorkoutScreenTest.kt
  app/src/test/java/com/github/radupana/featherweight/ui/screens/WorkoutTemplateSelectionTest.kt
  app/src/test/java/com/github/radupana/featherweight/util/ProgrammeTypeMapperTest.kt
  app/src/test/java/com/github/radupana/featherweight/utils/InstallationIdProviderTest.kt
  app/src/test/java/com/github/radupana/featherweight/viewmodel/CreateTemplateFromWorkoutViewModelTest.kt
  app/src/test/java/com/github/radupana/featherweight/viewmodel/ExerciseProgressViewModelTest.kt
  app/src/test/java/com/github/radupana/featherweight/viewmodel/ProgrammeCompletionViewModelTest.kt
  app/src/test/java/com/github/radupana/featherweight/viewmodel/WorkoutSelectionViewModelTest.kt
  app/src/test/java/com/github/radupana/featherweight/viewmodel/WorkoutTemplateSelectionViewModelTest.kt
Due: none

chore: exclude Robolectric-dependent files from codecov
  codecov.yml
Due: none

test: add VoiceDataModelsTest with 26 tests
  app/src/test/java/com/github/radupana/featherweight/data/voice/VoiceDataModelsTest.kt
Due: none

test: add TrainingMetricsCalculatorTest with 40 tests
  app/src/test/java/com/github/radupana/featherweight/service/TrainingMetricsCalculatorTest.kt
Due: none

chore: add AnalyticsLogger and CustomExerciseRepository to codecov exclusions
  codecov.yml
Due: none

test: comprehensive test coverage improvements (#200) (#224)
  app/src/test/java/com/github/radupana/featherweight/data/voice/VoiceDataModelsTest.kt
  app/src/test/java/com/github/radupana/featherweight/service/FirebaseAuthServiceTest.kt
  app/src/test/java/com/github/radupana/featherweight/service/OneRMDataFixServiceTest.kt
  app/src/test/java/com/github/radupana/featherweight/service/TrainingMetricsCalculatorTest.kt
  app/src/test/java/com/github/radupana/featherweight/service/ValidationResultTest.kt
  app/src/test/java/com/github/radupana/featherweight/ui/screens/WorkoutScreenTest.kt
  app/src/test/java/com/github/radupana/featherweight/ui/screens/WorkoutTemplateSelectionTest.kt
  app/src/test/java/com/github/radupana/featherweight/util/ProgrammeTypeMapperTest.kt
  app/src/test/java/com/github/radupana/featherweight/utils/InstallationIdProviderTest.kt
  app/src/test/java/com/github/radupana/featherweight/viewmodel/CreateTemplateFromWorkoutViewModelTest.kt
  app/src/test/java/com/github/radupana/featherweight/viewmodel/ExerciseProgressViewModelTest.kt
  app/src/test/java/com/github/radupana/featherweight/viewmodel/ProgrammeCompletionViewModelTest.kt
  app/src/test/java/com/github/radupana/featherweight/viewmodel/WorkoutSelectionViewModelTest.kt
  app/src/test/java/com/github/radupana/featherweight/viewmodel/WorkoutTemplateSelectionViewModelTest.kt
  codecov.yml
Due: none

fix: bodyweight exercise PR detection and set completion validation
  app/src/main/java/com/github/radupana/featherweight/data/PersonalRecord.kt
  app/src/main/java/com/github/radupana/featherweight/data/PersonalRecordDao.kt
  app/src/main/java/com/github/radupana/featherweight/service/PRDetectionService.kt
  app/src/main/java/com/github/radupana/featherweight/sync/SyncDownloader.kt
  app/src/main/java/com/github/radupana/featherweight/viewmodel/WorkoutCompletionViewModel.kt
  app/src/main/java/com/github/radupana/featherweight/viewmodel/WorkoutViewModel.kt
  app/src/test/java/com/github/radupana/featherweight/service/PRDetectionServiceTest.kt
  app/src/test/java/com/github/radupana/featherweight/viewmodel/WorkoutCompletionViewModelFilterTest.kt
Due: viewmodel, service, database

fix: bodyweight exercise PR detection and set completion validation (#226)
  app/src/main/java/com/github/radupana/featherweight/data/PersonalRecord.kt
  app/src/main/java/com/github/radupana/featherweight/data/PersonalRecordDao.kt
  app/src/main/java/com/github/radupana/featherweight/service/PRDetectionService.kt
  app/src/main/java/com/github/radupana/featherweight/sync/SyncDownloader.kt
  app/src/main/java/com/github/radupana/featherweight/viewmodel/WorkoutCompletionViewModel.kt
  app/src/main/java/com/github/radupana/featherweight/viewmodel/WorkoutViewModel.kt
  app/src/test/java/com/github/radupana/featherweight/service/PRDetectionServiceTest.kt
  app/src/test/java/com/github/radupana/featherweight/viewmodel/WorkoutCompletionViewModelFilterTest.kt
Due: viewmodel, service, database
